
body {
  font-size: 14px;
  font-family: 'Spectral', serif;
  color: $main-text-color;
  line-height: 1.25em;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: $main-text-color;
  & a {
    color: $main-text-color;
  }
}

.header__control-row {
  height: 60px;
  background-color: $main-bgc;
  & .container {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav_upper {
  & ul {
    padding: 0;
    margin-left: 10px;
    & li {
      list-style: none;
      text-transform: uppercase;
      display: inline-block;
      & a {
        text-decoration: none;
      }
    }
  }
  & .menu__upper {
    & .menu__item {
      padding-right: 40px;
      &:last-child {
        padding-right: 0;
      }
    }
    & .menu__item-right {
      padding-right: 20px;
      & a {
        text-transform: none;
      }
    }
  }
}

.menu__item-icon {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  & img {
    padding-right: 5px;
  }
}
