
body {
  font-size: 14px;
  font-family: 'Spectral', serif;
  color: $main-text-color;
  line-height: 1.25em;
  background-color: #FFFFFF;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: $main-text-color;
  & a {
    color: $main-text-color;
    &:hover {
      color: darkblue;
    }
  }
}

.header__control-row {
  height: 60px;
  background-color: $main-bgc;
  & .container {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav_upper {
  & ul {
    padding: 0;
    margin-left: 10px;
    & li {
      list-style: none;
      text-transform: uppercase;
      display: inline-block;
      & a {
        text-decoration: none;
      }
    }
  }
  & .menu__upper {
    margin: 0;
    & .menu__item {
      padding-right: 40px;
      &:last-child {
        padding-right: 0;
      }
    }
    & .menu__item-right {
      padding-right: 20px;
      & a {
        text-transform: none;
      }
    }
  }
}

.menu__item-icon {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  & img {
    padding-right: 5px;
  }
}

.header__main-row {
  height: 200px;
  position: relative;
}

.header__search {
  width: 170px;
  height: 30px;
  position: absolute;
  top: 13%;
  left: 0%;
  z-index: 999;
  & input {
    width: 100%;
    height: 100%;
    border: 1px solid #E5E5E5;
    border-radius: 15px;
    padding-left: 30px;
    &::placeholder {
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.1em;
    }
  }
  & i {
    font-size: 17px;
    color: #bcbcbc;
  }
  & .search-icon {
    position: absolute;
    top: 27%;
    left: 5%;
  }
}

.header__main-logo {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 55px;
  z-index: 0;
}

.social {
  padding-top: 20px;
  & ul {
    padding: 0;
    & li {
      list-style: none;
      display: inline-block;
      padding-right: 18PX;
      & a {
        display: block;
        text-align: center;
        line-height: 35px;
        width: 29px;
        height: 29px;
        border: 1px solid $main-text-color;
        border-radius: 50%;
        & i {
          display: inline-block;
          width: 100%;
          height: 100%;
          color: $color-social;
          font-size: 20px;
          &:hover {
            color: blue;
          }
        }
      }
    }
  }
}

.btn {
  width: 170px;
  height: 40px;
  background-color: #F4E3DC;
  border: 1px solid #E5E5E5;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  &:hover {
    background-color: #fcd5c4;
    cursor: pointer;
  }
}
.button {
  padding-top: 20px;
}

.header__main-menu {
  height: 40px;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  & ul {
    text-align: center;
    & li {
      list-style: none;
      display: inline-block;
      font-size: 17px;
      padding-right: 57px;
      &:last-child {
        padding-right: 0;
      }
      & a {
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}

.family {
  height: 650px;
  background-image: url(/img/vitki.jpg);
  background-size: cover;
  & h1 {
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
  }
}

.girl {
  height: 600px;
}
